<h2>Push Notification via STOMP</h2>
<section class="patient_info" data-ng-controller="patientController">
    <table>
        <tr>
            <td style="font-weight: bold">Patient Name : </td><td>{{patient.firstname}} {{patient.lastname}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Gender: </td><td>{{patient.gender}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold">DOB : </td><td>{{patient.dateOfBirth}}</td>
        </tr>
    </table>
</section>